<head>
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
</head>

<h1>4 in a row</h1>
<p>


</p>
<h4><em>The board</em></h4>
<p>

{{text|safe}}

<h4><em>Choose your next move</em></h4>
<form action="/move" method="post">
    <button type="submit" name="option" value="0">0</button>
    <button type="submit" name="option" value="1">1</button>
    <button type="submit" name="option" value="2">2</button>
    <button type="submit" name="option" value="3">3</button>
    <button type="submit" name="option" value="4">4</button>
    <button type="submit" name="option" value="5">5</button>
</form>



